 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 .clear {
     clear: both;
 }
 /* các class dùng chung */

 html {
     scroll-behavior: smooth;
     font-family: Arial, Helvetica, sans-serif;
 }
 /* phần header */
 #header {
     background-color: #000;
     height: 46px;
     position: fixed;
     left: 0;
     right: 0;
     top: 0;
     z-index: 1;
   
 }
 #nav {
     display: inline-block;
 }

 #nav, .subnav  {
    list-style-type: none;
 }
#nav li{
     display: inline-block;
     position: relative;

 }
#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}
 #nav li a {
     padding: 0 24px;
     text-decoration: none;
     line-height: 46px;
     display: block;
     
 }
 #nav>li:hover>a {
     background-color: #ccc;
     color: #000;
 }
 #nav .icon {
   font-size: 14px;
 }
 #nav .subnav {
     display: none;
     position: absolute;
     background-color: #fff;
     box-shadow: 0 0 10px rgba(0,0,0,4);
     min-width: 150px;
    
 }
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}
#nav li:hover .subnav {
    display: block;
}

#nav .subnav li {
    display: block;
}
#nav .subnav a{
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}
#header .menu{
    float:right;
    display: none;
    position: absolute;
    top: 0;
    right:0;
}
#header .chisearch {
    float:right;
}
#header .menu:hover {
    background-color: #ccc;
}
#header .menu:hover .iconmenu {
    color: #000;
}
#header .chisearch:hover .search {
    background-color: #f44336;
    cursor: pointer;
}
#header .menu .iconmenu,
#header .search .iconsearch {
    color: #ccc;
    line-height: 46px;
    padding: 0 24px;
}
 /* kết thúc header */

/* bắt đầu phàn slider */
 #slider {
     margin-top: 46px;
     background:url('./img/slider1.jpg') top center /cover no-repeat;
     padding-top:50%;
     position: relative;
 }
 #slider .textslider {
     position: absolute;
     bottom: 47px;
     text-align: center;
     width: 100%;
}
#slider .text2 {
    font-size: 24px;
    color:yellow;
    font-weight: 600;
}
#slider .text3 {
    margin-top: 25px;
    color: yellow;
    font-size: 20px;
    text-shadow: 0 0 1px #000;
}
/* kết thúc slider */

/* bắt đầu phần content */
.textcontent {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding:64px 16px 112px;

}
#content .textcontent .text4,
#content .textcontent .text5 {
    text-align: center;
}
#content .textcontent .text4 {
    text-transform: uppercase ;
    letter-spacing: 4px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 30px;
}
#content .textcontent .text5 {
    margin-bottom: 30px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;

}
#content .textcontent .text6 {
    font-size: 15px;
    line-height: 1.4 ;
    text-align: justify;
}
#content .band {
    margin-top: 48px;
   
}
#content .member1 {
    float: left;
    width: 33.33333%;
    text-align: center;
}
#content .member1 .name {
    font-size: 15px;
    margin-bottom: 15px;

}
#content .member1 .img {
    width: 200px;
    border-radius: 4px;
}
/* kết thúc phần content */

/* bắt đầu phần tour */
.tour {
    background-color: #000;
}
.text-while {
    color: #fff;
}
.ticket-list {
    background-color: #fff;
}
.ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}
.ticket-list .out {
    background-color: #f44336;
    color: #fff;
    text-align: center;
    margin-left: 16px;
    padding: 4px 8px;
}
.ticket-list .sove {
    margin-right: 16px;
    float: right;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-top: -3px;
}
.address {
    margin-top:32px ;
    margin-left: -8px;
    margin-right: -8px;
}
.address .add {
    float: left;
    width: 33.33333%;
    padding:0 8px;
}
.address .anh1 {
    width: 100%;
    display: block;
}
.address .anh1:hover {
    opacity: 0.6;
}
.address .bodyadd {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;

}
.address .nameadd {
    font-size: 15px;
    font-weight: 700;
}
.address .timeadd {
   margin: 16px 0;
   color: #757575;
}
.buyticket {
    text-decoration: none;
    color: #fff;
    padding: 10px 16px;
    display: inline-block;
    margin-top: 15px;
    background-color: #000;
    border: none;
}
.buyticket:hover {
    color: #000;
    background-color: #ccc;
}
/* kết thúc phần tour */
/* bắt đầu phần modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open{
    display: flex;
}
.modal-container {

    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: keomodal ease 0.6s ;

}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    
}
.modal-close:hover {
   background-color:#f44336;
   color: #000;
    cursor: pointer;

}
.modal-header {
    height: 130px;
    background: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    letter-spacing: 4px
}
.headericon.ti-bag {
    margin-right: 12px;
}
.modal-body {
    padding: 16px;
}
.modal-label {
    display: bloi;
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
}
input.modal-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 28px;
    border: 1px solid #ccc;
}
#buy-modal {
    width: 100%;
    padding: 16px;
    font-size: 15px;
    background: #009688;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 16px;
}
#buy-modal:hover {
    background-color: #ccc;
    color: #000;
}
p.need {
    margin: 15px 0;
    text-align: right;
    padding: 0 16px;
}
.help {
    color: #2196F3;
}
/* kêys thúc modal */
@keyframes keomodal{
    from {
        transform: translateY(-150px);
        opacity: 0.2;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
/* bắt đầu phần contact */
.contact0 {
    text-align: center;
    margin-bottom: 30px;
}
.contact0 .text4 {
    
    margin-bottom: 25px;
}

.contact1{
    padding: 17px 0;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.col {
    float: left;
}
.colhalf {
    width: 50%;
}
.infor {
    font-size: 18px;
    line-height: 1.5;

}
.infor i {
    width: 30px;
    display: inline-block;
}
.infor a {
    opacity: 0.8;
}
.infor a:hover {
    opacity: 1;
}
.infor p {
    padding: 2px 0;
}
.form {
    font-size: 15px;
    width: 100%;
    padding:9px 0 ;
    outline: none;
}
.pdr {
    padding-right: 17px;
}
.pdl {
    padding-left: 17px;
}
.row2 {
    margin-top: 8px;
}
input.buyticket.send {
    float: right;
    cursor: pointer;
}
/* kết thúc contact */
/* bắt đầu phần map */
.map1 {
    width: 100%;
}
/* keets thucs map */
/* bắt đầu footer */
#footer {
    padding:64px 16px ;
    text-align: center;

}
.listnet a{
    text-decoration: none;
    font-size: 24px;
    color: rgba(0,0,0,0.6);
}
.textfooter a:hover,
.listnet a i:hover {
    opacity: 0.4;
}
.textfooter {
    font-size: 15px;
    margin: 20px 0;
    color: rgba(0,0,0,0.6);
}
.textfooter a {
    color: rgba(0,0,0,0.6);
}
